body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color:  hsl(210, 36%, 96%);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}


/*--------------------------Home-------------------------*/
.home-container{
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn-toggle{
    position: fixed;
    top:2rem;
    left: 3rem;
    font-size: 30px;
    background-color: transparent;
    border: none;
    color: #49a6e9;
    padding: 0.5rem;
    cursor: pointer;
    animation: bound 2s ease-in-out infinite;
}

@keyframes bound {
  0%{
    transform: scale(1);
  }
  50%{
    transform: scale(1.5);
  }
  100%{
    transform: scale(1);
  }
}

.btn-show-modal{
  background-color: #222;
  color: #fff;
  border-color: #222;
  text-transform: uppercase;
  padding: 0.4rem 0.75rem;
  font-size: 1rem;
  border-radius: 0.25rem;
  transition: 0.3s;
}
.btn-show-modal:hover{
  color: #222;
  background-color: transparent;
}


/*------------------------sidebar--------------------------*/
.sidebar-container{
  width: 100%;
  max-width: 400px;
  min-height: 100vh;
  background-color: #fff;
  position: fixed;
  top:0px;
  left:0px;
  transform: translateX(-100%);
  transition: 0.3s ;
  display: grid;
  grid-template-rows: auto 1fr auto;
}
.show-sidebar{
  transform: translateX(0);
  
}
.sidebar-header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 1.5rem;
}
.logo{
  height: 40px;
}
.btn-close-sidebar{
  background-color: transparent;
  border:none;
  font-size: 1.75rem;
  padding: 0.5rem;
  color:	#bb2525;
  cursor: pointer;
  transition: 0.3s;
}
.btn-close-sidebar:hover{
  color: #e66b6b;
}
.list-links{
  padding: 0;
  font-size: 1.25rem;
  text-transform: capitalize;
}
.list-links a{
  padding: 16px 24px;
  display: flex;
  align-items: center;
  color: #324d67;
}
.list-links a:hover{
  background-color: 	#f1f5f8;
 
}

.list-links svg{
  font-size: 1.5rem;
  margin-right: 1rem;
}
.list-links svg:hover{
  color: #032340;
}
.list-social{
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 2rem 0;

}
.list-social svg{
  font-size: 1.5rem;
  margin: 0 0.5rem;
  color: #49a6e9;
}

/*-----------------------------modal------------------------------*/
.modal-overlay{
  width: 100%;
  height: 100%;
  position: fixed;
  top:0;
  left: 0;
  background-color: rgba(0,0,0,0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  transition: 0.3s;
}
.show-modal{
  visibility: visible;
}
.modal-container{
  width: 100%;
  max-width: 600px;
  margin: 0 2rem;
  height: 30vh;
  background-color: #fff;
  border-radius: 0.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.modal-title{
  text-transform: capitalize;
  font-size: 1.75rem;
  letter-spacing: 1px;
}
.btn-close-modal{
  position: absolute;
  top:1rem;
  right: 1.5rem;
  background-color: transparent;
  border: none;
  font-size: 1.75rem;
  color:#bb2525 ;
  cursor: pointer;
}
.btn-close-modal:hover{
  color: #e66b6b;
}